@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --svg-fill-color: #000000;

  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --svg-fill-color: #ffffff;

  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.box {
  position: relative;
  text-align: center;
  border: #ffffff solid 2px;
  border-radius: 25px;
  border-bottom: none;
  border-left: none;
}


